
<h1>Weidoo</h1>
<% if current_user %>
  <div><blockquote>
    Hello, <%= current_user.handle_name %>!<br />
    <table>
      <tbody>
        <tr>
          <td>
            <% if current_user.face %>
              <% face = current_user.face %>
              <% if face.content_type =~ /^image\/.*?(png|jpeg|gif|bmp)$/ %>
                <%= image_tag url_for({:action => 'face', :id=> face.id,
                    :filename => face.name}), :alt => face.name, :size => "60x60" %>
              <% end %>
            <% else %>
              <%= image_tag 'default_face.png', :alt => 'No Photo', :size => "60x60" %>
            <% end %>
          </td>
          <td>
             <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %><br />
             <%= link_to 'Edit your info', edit_user_path( :id => current_user.id ) %><br />
             <%= link_to 'Change Password', edit_user_registration_path %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<% if @message %>
  <h2><%= @message %></h2>
<% end %>

<table>
  <tbody>
    <% @chirps.each do |chirp| %>
    <tr>
       <td rowspan="2">
          <% if chirp.user.face %>
            <% face = chirp.user.face %>
            <% if face.content_type =~ /^image\/.*?(png|jpeg|gif)$/ %>
               <%= image_tag url_for({:action => 'face', :id=> face.id,
                    :filename => face.name,
                    :controller => "chirps"}), :alt => face.name,:size => "70x70"
               %>
            <% else %>
               <%= image_tag 'default_face.png', :alt => 'No Photo' %>
            <% end %>
          <% else %>
             <%= image_tag 'default_face.png', :alt => 'No Photo' %>
          <% end %>
        </td>
        <td><font color="green">@<%= chirp.user.handle_name %></font></td>
        <td><font color="blue"><%= chirp.created_at.strftime("%Y/%b/%d(%a) %p%l:%M") %></font></td>
        <td><%= link_to 'Edit', edit_chirp_path(chirp) %></td>
        <td><%= link_to 'Comments', comments_index_path(chirp) %></td>
      <tr>
        <td colspan="2"><%= chirp.chirp %></td>
        <td><%= link_to 'Destroy', chirp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% if chirp.photo %>
          <tr>
            <td colspan="4">
              <p><blockquote>
                <% if chirp.file_type =~ /^image\/.*?(png|jpeg|gif)$/ %>
                  <%= image_tag url_for({:action => 'photo', :id=> chirp.id,
                    :filename => chirp.file_name, :controller => "chirps"}),
                    :size => "170x100",
                    :alt => chirp.file_name %>
                <% end %>
                <br />
              </p>
            </td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weidoo', new_chirp_path %>
